services:
  db:
    image: postgres:latest
    restart: unless-stopped
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres
  cache_db:
    image: redis:latest
    restart: unless-stopped
  neo4j:
    image: neo4j:latest
    restart: unless-stopped
    volumes:
      - ./neo4j-data:/data
    environment:
      NEO4J_AUTH: neo4j/neo4j_pswd

# volumes:
#   postgres-data:
#   neo4j-data:
