services:
  db:
    image: postgres:17
    restart: unless-stopped
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
  cache_db:
    image: redis:8
    restart: unless-stopped
    ports:
      - "6379:6379"
  neo4j:
    image: neo4j:2025.11.2
    restart: unless-stopped
    volumes:
      - ./neo4j-data:/data
    environment:
      NEO4J_AUTH: neo4j/neo4j_pswd
    ports:
      - "7687:7687"
      - "7474:7474"

# volumes:
#   postgres-data:
#   neo4j-data:
