# See also: https://github.com/subosito/flutter-action
# https://github.com/nabilnalakath/flutter-githubaction/blob/master/.github/workflows/main.yml

name: Create Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

env:
  FLUTTER_VERSION: "3.29.0"

jobs:
  build-1:
    name: Build (Linux, Android, Web)
    env:
      ANDROID_HOME: /usr/local/android_sdk
      LINUX_BUILD_DIR: linux-x64
      ANDROID_BUILD_DIR: android
      WEB_BUILD_DIR: web
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Base Dependencies
        run: >
          apt-get update && export DEBIAN_FRONTEND=noninteractive 
          && apt-get -y install --no-install-recommends curl git unzip xz-utils zip libglu1-mesa
      - name: Install Flutter
        run: |
          wget "https://storage.googleapis.com/flutter_infra_release/releases/stable/linux/flutter_linux_${{ env.FLUTTER_VERSION }}-stable.tar.xz"
          tar -xf "flutter_linux_${{ env.FLUTTER_VERSION }}-stable.tar.xz" -C /usr/local/
          rm "flutter_linux_${{ env.FLUTTER_VERSION }}-stable.tar.xz"
      - name: Install Desktop Dependencies
        run: >
          export DEBIAN_FRONTEND=noninteractive
          && apt-get -y install --no-install-recommends
          clang cmake git
          ninja-build pkg-config
          libgtk-3-dev liblzma-dev
          libstdc++-12-dev
          libsecret-1-dev libjsoncpp-dev libsecret-1-0 gnome-keyring dbus-x11
      - name: Install Android Dependencies
        run: >
          export DEBIAN_FRONTEND=noninteractive
          && apt-get -y install --no-install-recommends openjdk-17-jdk-headless gradle
      - name: Install Android Commmand Line Tools
        run: >
          wget "https://dl.google.com/android/repository/commandlinetools-linux-13114758_latest.zip" \
          && unzip commandlinetools-linux-*.zip -d cmdline-tools \
          && mkdir -p ${{ env.ANDROID_HOME }}/cmdline-tools/latest \
          && mv cmdline-tools/cmdline-tools/* ${{ env.ANDROID_HOME }}/cmdline-tools/latest \
          && rm -r commandlinetools-linux-*.zip cmdline-tools \
          && chown -R 1000:1000 ${{ env.ANDROID_HOME }}
      - name: Cache pub deps
        uses: actions/cache@v3
        with:
          path: ~/.pub-cache
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.yaml') }}
          restore-keys: ${{ runner.os }}-pub-
      - name: Install Flutter Dependencies
        run: flutter pub get --enforce-lockfile
      - name: Build Linux # Only x64 for now.
        run: flutter build linux --no-pub
      - name: Build Android # Only APK for now. App Bundle for future consideration.
        run: flutter build apk --no-pub --split-per-abi
      - name: Build Web
        run: flutter build web --no-pub --base-href="/${{ github.event.repository.name }}/app/"
      - name: Copy Build Artifacts
        run: |
          mkdir output
          mv build/linux/x64/release/bundle output/${{ env.LINUX_BUILD_DIR }}
          mkdir output/${{ env.ANDROID_BUILD_DIR }}
          mv build/app/outputs/apk/release/*.apk output/${{ env.ANDROID_BUILD_DIR }}
          mv build/web output/${{ env.WEB_BUILD_DIR }}
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        # if: github.ref_type == 'tag'
        with:
          name: build-1
          path: |
            output/${{ env.LINUX_BUILD_DIR }}
            output/${{ env.ANDROID_BUILD_DIR }}
          if-no-files-found: error
          retention-days: 1
      - name: Upload Web Artifact
        uses: actions/upload-artifact@v4
        # if: github.ref_type == 'tag'
        with:
          name: build-1-web
          path: |
            output/${{ env.WEB_BUILD_DIR }}
          if-no-files-found: error
          retention-days: 1
  build-2:
    name: Build (Windows)
    env:
      WINDOWS_BUILD_DIR: windows-x64
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set Up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: ${{ env.FLUTTER_VERSION }}
          cache: true
      - name: Install Flutter Dependencies
        run: flutter pub get --enforce-lockfile
      - name: Build Windows
        run: flutter build windows --no-pub
      - name: Copy Build Artifacts
        run: |
          New-Item -Path output -ItemType Directory
          Move-Item -Path build\windows\runner\Release -Destination output\${{ env.WINDOWS_BUILD_DIR }}
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        # if: github.ref_type == 'tag'
        with:
          name: build-2
          path: |
            output\${{ env.WINDOWS_BUILD_DIR }}
          if-no-files-found: error
          retention-days: 1
  
  release:
    name: Release
    if: github.ref_type == 'tag'
    needs: [build-1, build-2]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          path: dists
          merge-multiple: true
      - name: Output Structure 1
        run: ls -R dists
      - name: Prepare Artifacts
        run: |
          for dir in dists/*/; do
            cp README.md LICENSE CHANGELOG.md $dir
          done
      - name: Output Structure 2
        run: ls -R dists
      - name: Install zip
        run: sudo apt-get install zip
      - name: Archive Artifacts
        run: |
          cd dists
          for dir in */; do
            cd $dir
            echo "Archiving:" *
            zip -r ../"${dir%/}.zip" *
            cd ..
          done
      - name: Release Artifacts
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          generate_release_notes: true
          draft: true
          files: dists/*.zip
